.event-container{
    width: 100%;
    background-color: #161616;
    color: white;
    border-radius: 10px;
    &--top{
        margin: 8px 0;
        display: flex;
        justify-content: space-between;
        img {
            width: 30%;
        }
    }
}